[submodule "lib/crucible"]
	path = lib/crucible
	url = git@github.com:uniteum/crucible.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/iuniswap"]
	path = lib/iuniswap
	url = git@github.com:uniteum/iuniswap.git
[submodule "lib/ilookup"]
	path = lib/ilookup
	url = git@github.com:uniteum/ilookup.git
[submodule "lib/ierc20"]
	path = lib/ierc20
	url = git@github.com:uniteum/ierc20.git
[submodule "lib/v4-core"]
	path = lib/v4-core
	url = https://github.com/Uniswap/v4-core.git
[submodule "lib/clones"]
	path = lib/clones
	url = git@github.com:uniteum/clones.git
[submodule "lib/context"]
	path = lib/context
	url = https://github.com/uniteum/context.git
[submodule "lib/ownable"]
	path = lib/ownable
	url = https://github.com/uniteum/ownable.git
[submodule "lib/erc20"]
	path = lib/erc20
	url = git@github.com:uniteum/erc20.git
